# THIS ENV FILE WILL BE PICKED UP WHEN RUNNING WITH NPM AND WILL BE IGNORED BY DOCKER

# Better Auth
BETTER_AUTH_SECRET=your-secret-key # Generate with: openssl rand -hex 32
BETTER_AUTH_URL=http://localhost:3001

# CORS
NEXT_PUBLIC_API_URL=http://localhost:3001 # Public-facing API URL (used by the browser)
NEXT_PUBLIC_WEB_URL=http://localhost:3000 # Public-facing web app URL

# Database
DATABASE_URL=postgresql://rmanager:your-postgres-password@localhost:5432/rmanager

# Runtime
NODE_ENV=development # Running with npm = development
