name: Preview Deployment
on:
  push:
    branches-ignore:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - run: npm ci

      - name: Install Turso CLI
        run: |
          curl -sSL tur.so/install | sh

          # Add Turso CLI to PATH
          echo "$HOME/.turso/bin" >> $GITHUB_PATH

      - name: Generate Safe DB Name
        run: |
          # Make the script executable, might not be necessary
          chmod +x .github/scripts/generate_db_name.sh

          # Generate the safe branch name and store it in an environment variable
          BRANCH_NAME=$(.github/scripts/generate_db_name.sh "${{ github.ref_name }}")
          echo "SAFE_BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_ENV

      - name: Provision Turso Database
        if: github.ref_name != 'dev'
        env:
          TURSO_API_TOKEN: ${{ secrets.TURSO_API_TOKEN }}
        run: |
          # Create a branch from the dev database with the generated safe name
          turso db create ${{ env.SAFE_BRANCH_NAME }} --from-db dev || true

      - name: Get Database Credentials
        run: |
          DB_URL=$(turso db show ${{ env.SAFE_BRANCH_NAME }} --url)
          DB_TOKEN=$(turso db tokens create ${{ env.SAFE_BRANCH_NAME }})

          # Add the database credentials to the environment variables
          echo "DB_URL=$DB_URL" >> $GITHUB_ENV
          echo "DB_TOKEN=$DB_TOKEN" >> $GITHUB_ENV

      - name: Sync schema to database
        env:
          TURSO_DATABASE_URL: ${{ env.DB_URL }}
          TURSO_AUTH_TOKEN: ${{ env.DB_TOKEN }}
        run: |
          # Push changes to the created database
          npx drizzle-kit push

      - name: Make Preview Deployment
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
        run: |
          # Make a preview deployment with the created database
          npx vercel deploy --target preview \
          --build-env TURSO_DATABASE_URL=${{ env.DB_URL }} \
          --build-env TURSO_AUTH_TOKEN=${{ env.DB_TOKEN }} \
          --env TURSO_DATABASE_URL=${{ env.DB_URL }} \
          --env TURSO_AUTH_TOKEN=${{ env.DB_TOKEN }} \
          --yes
