# THIS ENV FILE WILL BE PICKED UP WHEN RUNNING WITH NPM AND WILL BE IGNORED BY DOCKER

# Better Auth
BETTER_AUTH_SECRET=your-secret-key # Generate with: openssl rand -hex 32
BETTER_AUTH_API_KEY=ba_some_api_key # Better Auth Dashboard API key (https://better-auth.com/docs/infrastructure/plugins/dashboard)

# CORS
TRUSTED_ORIGINS=http://localhost:3000,http://localhost:3001 # Comma-separated list of allowed origins
WEB_ORIGIN=http://localhost:3000

# Database
DATABASE_URL=postgresql://rmanager:your-postgres-password@localhost:5432/rmanager

# Telemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
TELEMETRY_ENABLED=false
OTEL_SEMCONV_STABILITY_OPT_IN=http # Use stable HTTP semantic conventions (http.server.request.duration etc.)

# Email
GMAIL_APP_PASSWORD=your-gmail-app-password # Generate at: https://myaccount.google.com/apppasswords
GMAIL_EMAIL_ADDRESS=your-email@gmail.com

# Self Managed Security
MASTER_ENCRYPTION_KEY=your-master-encryption-key # Generate with: openssl rand -hex 32

# Runtime
API_PORT=3001 # The port on which Hono should run
NODE_ENV=development # Running in npm = development
